<div class=" row completo">
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 perfil">
      <!--  <img class="img-fluid" src="../../../assets/img/perfil.jpg" alt="perfil"> -->
        <img class="img-fluid" src='../../../assets/img/perfil.jpg'/>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-3 nombre">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7 ">
        <span>
            <h2>Acerca de mí</h2>
            <p>Soy estudiante de Tecnicatura en Programación, creativo y curioso, lo cual me ha llevado a interesarme en diversos programas y
                herramientas informaticas para realizar múltiples tareas. Me considero autodidacta y resolutivo. Valoro un buen ambiente
                de trabajo, con posibilidad de crecimiento y aprendizaje continuos. </p>
        </span>
    </div>
</div>