<div class="row navegador">
        <div class="logos">
            <a target="_blank" href="https://argentinaprograma.inti.gob.ar/"><img class="logos" src="../assets/img/APLogo-20-20.png" alt="Logo AP"></a>    
        </div>
        <div class="redes">    
            <a target="_blank" href="https://github.com/EstebanSoaje"><img class="redes" src="../assets/img/github.svg" alt="Github"> </a>
            <a target="_blank" href="https://www.linkedin.com/in/estebansf"><img class="redes" src="../assets/img/linkedin.svg" alt="Github"></a>
        </div>
</div>
<div class="banner">
    <img src="../../../assets/img/universo.jpg" alt="banner">
</div>
