<div class="row completo">
    <div class="col-12">
        <h2>Proyectos</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h3>Calculadora</h3>
        <p>En este pequeño proyecto elaboré una calculadora simple, utilizando HTML5, CSS3 y JavaScript</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="negro"><img src="../../../assets/img/calculadora.png" alt="calculadora"></div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="https://estebansoaje.github.io/Calculadora/" target="_blank" ><button type="button" class="btn btn-dark">Sitio</button></a>
            <a href="https://github.com/EstebanSoaje/Calculadora.git" target="_blank"><button type="button" class="btn btn-dark">Repositorio</button></a>
        </div>
    </div>

</div>