    <div class="row completo aptitudes">
        <div class="col-12 ">
            <h2>Aptitudes</h2>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
                [percent]="85" 
                [radius]="90" 
                [showUnits]="false"
                [imageSrc]="'../../../assets/img/html-5.svg'" 
                [showImage]="true" 
                [imageHeight]="100" 
                [imageWidth]="75"
                [backgroundPadding]="-20" 
                [backgroundColor]="'#ddfdfb'" 
                [showSubtitle]="false" 
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2" 
                [outerStrokeColor]="'#227ded'" 
                [innerStrokeColor]="'#227ded'" 
                [animation]="true"
                [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
                [percent]="85" 
                [radius]="90" 
                [showUnits]="false"
                [imageSrc]="'../../../assets/img/css-3.svg'"
                [showImage]="true" 
                [imageHeight]="100" 
                [imageWidth]="75"
                [backgroundPadding]="-20" 
                [backgroundColor]="'#ddfdfb'" 
                [showSubtitle]="false" 
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2" 
                [outerStrokeColor]="'#227ded'" 
                [innerStrokeColor]="'#227ded'" 
                [animation]="true"
                [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
                [percent]="85" 
                [radius]="90" 
                [showUnits]="false"
                [imageSrc]="'../../../assets/img/javascript.svg'" 
                [showImage]="true" 
                [imageHeight]="85" 
                [imageWidth]="85"
                [backgroundPadding]="-20" 
                [backgroundColor]="'#ddfdfb'" 
                [showSubtitle]="false" 
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2" 
                [outerStrokeColor]="'#227ded'" 
                [innerStrokeColor]="'#227ded'" 
                [animation]="true"
                [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
                [percent]="85" 
                [radius]="90" 
                [showUnits]="false"
                [imageSrc]="'../../../assets/img/github.svg'" 
                [showImage]="true" 
                [imageHeight]="85" 
                [imageWidth]="85"
                [backgroundPadding]="-20" 
                [backgroundColor]="'#ddfdfb'" 
                [showSubtitle]="false" 
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2" 
                [outerStrokeColor]="'#227ded'" 
                [innerStrokeColor]="'#227ded'" 
                [animation]="true"
                [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
                [percent]="85" 
                [radius]="90" 
                [showUnits]="false"
                [imageSrc]="'../../../assets/img/comunication.svg'" 
                [showImage]="true" 
                [imageHeight]="65" 
                [imageWidth]="85"
                [backgroundPadding]="-20" 
                [backgroundColor]="'#ddfdfb'" 
                [showSubtitle]="false" 
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2" 
                [outerStrokeColor]="'#227ded'" 
                [innerStrokeColor]="'#227ded'" 
                [animation]="true"
                [animationDuration]="700">
            </circle-progress>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <circle-progress 
                [percent]="85" 
                [radius]="90" 
                [showUnits]="false"
                [imageSrc]="'../../../assets/img/people-group.svg'" 
                [showImage]="true" 
                [imageHeight]="65" 
                [imageWidth]="85"
                [backgroundPadding]="-20" 
                [backgroundColor]="'#ddfdfb'" 
                [showSubtitle]="false" 
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2" 
                [outerStrokeColor]="'#227ded'" 
                [innerStrokeColor]="'#227ded'" 
                [animation]="true"
                [animationDuration]="700">
            </circle-progress>
        </div>
    </div>