<div class="row completo">
    <h2>Experiencia laboral</h2>
    <div class="col-sm-8 bloque">
        <h3>Analista de soporte al cliente</h3>
        <p>Jun. 2021 - Actualidad</p>
        <div class="col-sm-10 descripcion">
            <p>Atención al cliente a través de plataforma online de telecomunicaciones multicanal para brindar soluciones en base a la utilización de una aplicación bancaria.
                Mejora continua en la calidad de interacción con el cliente y en su experiencia con la plataforma.
                Lograr la fidelización del cliente con el servicio que ofrece la compañía.</p>
        </div>
    </div>
    <div class="col-sm-8 bloque">
        <h3>Empleado en Local de Computación.</h3>
        <p>Ago. 2018 - Oct. 2019</p>
        <div class="col-sm-10 descripcion">
            <p>Reparación, mantenimiento y armado de PC/ Notebook, control de stock,
                atención al público y asesoramiento.</p>
        </div>
    </div>
    <div class="col-sm-8 bloque">
        <h3>Empleado en Empresa de soluciones IT</h3>
        <p>Feb. 2015 - Feb. 2018</p>
        <div class="col-sm-10 descripcion">
            <p>Reparación, mantenimiento y armado de PC/ Notebook. Atención a clientes
                vía remoto y presencial. Instalación, reparación y mantenimiento de redes
                y cámaras de seguridad en oficinas.</p>
        </div>
    </div>
    <h2>Educación</h2>
    <div class="col-sm-8 bloque">
        <h3>Tecnicatura en programación</h3>
        <p>Abr. 2021 - Dic. 2025</p>
        <div class="col-sm-10 descripcion">
            <p>La Tecnicatura Universitaria en Programación es la disciplina académica que aborda los lenguajes de programación de computadoras de uso más frecuentes, el manejo de técnicas de programación y sus recursos auxiliares, para poder desempeñar las tareas en organizaciones que apliquen el sistema de procesamiento de datos.</p>
        </div>
    </div>
    <div class="col-sm-8 bloque">
        <h3>Curso Argentina Programa 2da Etapa</h3>
        <h5>Desarrollador Full Stack Jr</h5>
        <p>Feb. 2022 - Oct. 2022</p>
        <div class="col-sm-10 descripcion">
            <p>Se profundizan los conocimientos y adquieren las habilidades y herramientas necesarias para el desarrollo web full-stack junior.</p>
        </div>
    </div>
    <div class="col-sm-8 bloque">
        <h3>Curso Argentina Programa 1ra Etapa</h3>
        <p>Oct. 2021 - Dic. 2021</p>
        <div class="col-sm-10 descripcion">
            <p>Curso introductorio en el que se desarrollan los fundamentos básicos de la programación para dar los primeros pasos en el mundo tecnológico</p>
        </div>
    </div>
</div>