<div class="row ">
    <h2>Experiencia laboral</h2>
    <div class="col-sm-8 bloque">
        <h3>Trabajo 1</h3>
        <p>año - año</p>
        <div class="col-sm-10 descripcion">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit enim quia velit maxime deleniti, molestiae voluptas odio omnis expedita voluptatem quidem veritatis illo officiis est pariatur autem nesciunt, recusandae minus.</p>
        </div>
    </div>
    <div class="col-sm-8 bloque">
        <h3>Trabajo 2</h3>
        <p>año - año</p>
        <div class="col-sm-10 descripcion">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit enim quia velit maxime deleniti, molestiae voluptas odio omnis expedita voluptatem quidem veritatis illo officiis est pariatur autem nesciunt, recusandae minus.</p>
        </div>
    </div>
    <div class="col-sm-8 bloque">
        <h3>Trabajo 3</h3>
        <p>año - año</p>
        <div class="col-sm-10 descripcion">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit enim quia velit maxime deleniti, molestiae voluptas odio omnis expedita voluptatem quidem veritatis illo officiis est pariatur autem nesciunt, recusandae minus.</p>
        </div>
    </div>
</div>

<div class="row ">
    <h2>Educación</h2>
    <div class="col-sm-8 bloque">
        <h3>Estudio 1</h3>
        <p>año - año</p>
        <div class="col-sm-10 descripcion">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit enim quia velit maxime deleniti, molestiae voluptas odio omnis expedita voluptatem quidem veritatis illo officiis est pariatur autem nesciunt, recusandae minus.</p>
        </div>
    </div>
    <div class="col-sm-8 bloque">
        <h3>Estudio 2</h3>
        <p>año - año</p>
        <div class="col-sm-10 descripcion">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit enim quia velit maxime deleniti, molestiae voluptas odio omnis expedita voluptatem quidem veritatis illo officiis est pariatur autem nesciunt, recusandae minus.</p>
        </div>
    </div>
    <div class="col-sm-8 bloque">
        <h3>Estudio 3</h3>
        <p>año - año</p>
        <div class="col-sm-10 descripcion">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit enim quia velit maxime deleniti, molestiae voluptas odio omnis expedita voluptatem quidem veritatis illo officiis est pariatur autem nesciunt, recusandae minus.</p>
        </div>
    </div>
</div>